
<div class="container">
    <div class="app_contact_header">
        <h1>Let's Connect</h1>
    </div>

    <section class="app_contact">
        <div class="app_contact_heading">
            <h2>Get In Touch</h2>
        </div>
        <br>
        <div class="app_contact_msg">
            <div class="">
                <p>
                    I'm open 🖐️ for new opportunities 🤹 as
                    <span>Java Developer</span>,
                    <span>Backend Developer</span>.
                    Whether you have a question ❓ or want to know more about me 🙂 or just want to say Hi! 👋, write to me ✍️, I'm always keen to hear from others. 😃
                </p>

            </div>
        </div>
        <div class="" style="margin-top: 100px;">
            <a class="email_link" href="mailto:jaderushi2014@gmail.com" rel="noopener noreferrer" target="_blank">Write Me At 📭</a>
        </div>
    </section>

</div>
