
<div class="container">
    <div class="app_about_header">
        <h1>About Me</h1>
    </div>
    <section class="app_about">
        <div class="row">
            <div class="col-lg-8 app_about_content">
                <p>
                    Hello!! My name is Rushikesh and I love to design and build frontend application. My Interest in frontend development started back in 2014 when I 
                    started to play with Chrome DevTools to change the web page contents and add my own funny one. I got to know more about CSS too when I tried to 
                    change the color of text and started playing around it.
                </p>

                <p>
                    Fast-forward to today, and I've had the privilege of working at the IT industry. I've worked in backend developement too with skills in 
                    Java, Spring Boot, Microservices. If I talk about the DevOps, so I've knowledge in Jenkins, Docker, Kubernetes. 
                    <br> Fun Fact, I'm learning DevOps 😃
                </p>
            </div>
            <div class="col-lg-4 app_about_photo">
                <!-- <img src="https://xsgames.co/randomusers/avatar.php?g=male" alt="" srcset=""> -->
                <img src="../../../assets/svg/profile.svg" alt="" srcset="" width="400px">
            </div>
        </div>
    </section>
</div>