
<div class="app_header">
    <nav class="app_header_nav">
        <div class="app_header_logo">
            RUSH
        </div>
        <div class="app_header_menus">
            <ol class="app_menu">
                <li><a href="">About</a></li>
                <li><a href="">Experience</a></li>
                <li><a href="">Education</a></li>
                <li><a href="">Contact</a></li>
                <li class="theme" (click)="changeTheme()" *ngIf="day"><img src="../../../assets/svg/sun.svg" alt="" srcset=""></li>
                <li class="theme" (click)="changeTheme()" *ngIf="night"><img src="../../../assets/svg/moon.svg" alt="" srcset=""></li>
            </ol>
        </div>
    </nav>
</div>