
<div class="app_header">
    <nav class="app_header_nav">
        <div class="app_header_logo">
            <a href="#home"> RUSH</a>
        </div>
        <div class="app_header_menus">
            <ol class="app_menu">
                <li><a href="#about">About</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#contact">Contact</a></li>
            </ol>

            <div class="app_menu_humberger">
                
            </div>

            <ol class="app_theme">
                <li class="theme" (click)="changeTheme()" *ngIf="day"><img src="../../../assets/svg/sun.svg" alt="" srcset=""></li>
                <li class="theme" (click)="changeTheme()" *ngIf="night"><img src="../../../assets/svg/moon.svg" alt="" srcset=""></li>
            </ol>
        </div>
    </nav>
</div>

<div class="social-section">
    <div class="social-media-section">
        <ul *ngFor="let icon of iconsName">
            <li *ngIf="checkForEmail(icon.name); else email;">
                <a *ngIf="day; else night" href={{icon.url}} target="_blank">
                    <img src="../../../assets/svg/{{icon.name}}-dark.svg" alt="" srcset="">
                </a>
                <ng-template #night>
                    <a href={{icon.url}} target="_blank">
                        <img src="../../../assets/svg/{{icon.name}}.svg" alt="" srcset="">
                    </a>
                </ng-template>
            
            </li>
            <ng-template #email>
                <li class="email-text">
                    <a href="mailto:jaderushi2014@gmail.com">{{ icon.url }}</a>
                </li>
            </ng-template>
        </ul>
        <span></span>
    </div>
</div>