.snowflake {
    color: #fff;
    font-size: 1.2em;
    text-shadow: 0 0 1px #00bcd4;
    position: fixed;
    z-index: 9999;
    top: 0%;
    cursor: default;
    animation-name: snowflake-fall, snowflake-move;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
}

@keyframes snowflake-fall {
    0% {
        top: -15%;
    }

    100% {
        top: 100%;
    }
}

@keyframes snowflake-move {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(75px);
    }

    100% {
        transform: translateX(0px);
    }
}