<div class="container-fluid">
    <section>
        <div class="" style="margin: 0 0 30px 0;">
            <h3 class="app_intro_1">Hi There!!<span style="font-size: 1.5rem;">👋</span>, my name is</h3>
        </div>

        <div class="name" style="margin: 0 0 10px 0;">
            <h1 class="app_intro_2">Rushikesh Jade.</h1>
        </div>

        <div class="quote">
            <!-- <h2 class="app_intro_3">I'm a Software Engineer with </h2> -->


        </div>

        <!-- <div class="app_role_badges">
            <span class="role_badge">Java Developer</span>
            <span class="role_badge">Full Stack Developer</span>
            <span class="role_badge">Angular Developer</span>
        </div> -->

<pre id="typewriter" style="height: 350px; margin-top: 2rem;">
<span class="var-highlight">var</span> <span class="key-color">about_me = &#123;</span>
    <span class="key-color">first_name: </span><span class="string-highlight">'Rushikesh'</span><span class="key-color">,</span>
    <span class="key-color">last_name: </span><span class="string-highlight">'Jade'</span><span class="key-color">,</span>
    <span class="key-color">roles:[</span><span class="string-highlight">'Backend Developer'</span><span class="key-color">,</span>
          <span class="string-highlight"> 'Java Developer'</span><span class="key-color">,</span>
          <span class="string-highlight"> 'Fronend Developer'</span><span class="key-color">,</span>
          <span class="string-highlight"> 'Software Developer'</span><span class="key-color">];</span>
<span class="key-color">&#125;;</span></pre>

    </section>
</div>