

<div class="container-fluid">
    <section>
        <div class="" style="margin: 0 0 30px 0;">
            <h3 class="app_intro_1">Hi There!!<span style="font-size: 1.5rem;">👋</span>, my name is</h3>
        </div>

        <div class="name" style="margin: 0 0 10px 0;">
            <h1 class="app_intro_2">Rushikesh Jade.</h1>
        </div>

        <div class="quote">
            <h2 class="app_intro_3">If at first you don’t succeed; call it version 1.0</h2>
        </div>

        <div class="app_role_badges">
            <span class="role_badge">Angular Developer</span>
            <span class="role_badge">Java Developer</span>
            <span class="role_badge">Full-stack Developer</span>
        </div>
    </section>
</div>