
	<app-header></app-header>
	<div id="home">
		<app-home></app-home>
	</div>
	<div id="about">
		<app-about></app-about>
	</div>
	<div id="experience">
		<app-experience></app-experience>
	</div>
	<div id="education">
		<app-education></app-education>
	</div>
	<!-- <app-work></app-work> -->
	<div id="contact">
		<app-contact></app-contact>
	</div>
	<app-footer></app-footer>




	
	
<!-- <div class="container">
	<div class="row ">
		<div class="col-lg-12">
			<h1 class="name">
				Hi, <br>
				I'm Rushikesh Jade <br>
			</h1>
			
			<br>
			<br>
			<br>

			<p class="role">Front End Developer / Angular Developer</p>

			<div class="image">
				<img src="../assets/images/image.png" alt="" srcset="">
			</div>
		</div>
	</div>

</div>
<br><br><br><br><br><br> -->
<!-- <div class="container">
	
	<div class="row">
		<div class="col-lg-12">
			<section>
				<h2 class="title">
					Me, Myself and I
				</h2>
				<br>

				<div class="row">
					<div class="col-lg-4">
						<div class="details">
							<p>
								I'm passionate about the cutting-edge, pixel perfect, beautiful interfaces and
								responsive with all platform.
							</p>
							<p>
								Currently, I'm working in a Wipro Technologies, Pune as a Software Developer, working
								proficient as Front End Developer. I've developed
								and contributed many types of front-ends for the Citibank's internal Eclipse Platform
								mostly using Angular.
							</p>
							<p>
								Being part of OCP framework in Citibank, I'm responsible to create and design various
								components which later used as a npm library in any
								other application.
							</p>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="row" style="text-align: center;">
							<div class="col-lg-3">
								<img src="../assets/svg/html.svg" alt="">
							</div>
							<div class="col-lg-3">
								<img src="../assets/svg/css.svg" alt="">
							</div>
							<div class="col-lg-3">
								<img src="../assets/svg/javascript.svg" alt="">
							</div>
							<div class="col-lg-3">
								<img src="../assets/svg/git.svg" alt="">
							</div>
						</div>
						<br>
						<br>
						<div class="row" style="text-align: center;">
							<div class="col-lg-3">
								<img src="../assets/svg/angular.svg" alt="">
							</div>
							<div class="col-lg-3">
								<img src="../assets/svg/typescript.svg" alt="">
							</div>
							<div class="col-lg-3">
								<img src="https://rxjs.dev/generated/images/marketing/home/Rx_Logo-512-512.png"
									style="width: 48px; height: 48px;" alt="">
							</div>
							<div class="col-lg-3">
								<img src="../assets/svg/java.svg" alt="">
							</div>
						</div>
						<br>
						<br>
						<div class="row" style="text-align: center;">
							<div class="col-lg-3">
								<img src="../assets/svg/spring.svg" alt="">
							</div>
							<div class="col-lg-3">
								<img src="../assets/svg/docker.svg" alt="">
							</div>
							<div class="col-lg-3">
								<img src="../assets/svg/sonarqube.svg" style="width: 80px;" alt="">
							</div>
							<div class="col-lg-3">
								<img src="../assets/svg/jenkins.svg" alt="">
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div class="row">
		<section>
			<h2 class="title2">
				Education
			</h2>
		</section>

		<app-timeline></app-timeline>
	</div>
</div> -->