.container {
    margin-bottom: 10%;
}

.app_education_header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin: 30px 0px 40px;
    width: 100%;
    font-size: clamp(26px, 5vw, var(--fz-heading));
    white-space: nowrap;
    color: var(--heading-color);
}

.app_education_header h1 {
    font-family: var(--content-font);
}

.app_education_header::before {
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: "03.";
    margin-right: 10px;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: 2.5rem;
    font-weight: 400;
}

.app_education_header::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--horizontal-bar-color);
}

.app_edu_details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: var(--content-font);
}

.app_edu_details>.row {
    width: 80%;
    box-shadow: var(--edu-card-box-shadow-color);
    padding: 1rem;
    border-radius: 1.2rem;
    margin: 2rem 0;
}

.app_edu_details>.row:first-child {
    margin: 1rem 0;
}

.app_edu_details>.row:last-child {
    margin: 0.9rem 0;
}

.app_edu_college_name {
    color: var(--content-color);
}

.app_edu_college_name>div>.college_name {
    float: left;
    font-weight: 600;
    font-size: 1.15rem;
    letter-spacing: 0.1px;
}

.app_edu_college_name>div>.college_marks {
    float: right;
}

.app_edu_college_name>.college_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
}

@media only screen and (min-width: 1025px) {
    .app_edu_details>.row {
        width: 80%;
    }
}

@media only screen and (min-width: 769px) {
    .app_edu_details>.row {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1025px) {
    .app_edu_college_name {
        width: 95%;
        float: right;
    }
}

@media only screen and (max-width: 768px) {
    .app_edu_college_name>div>.college_marks {
        float: left;
    }

    .container {
        margin-bottom: 30%;
    }
}

.borderr {
    position: absolute;
    border-right: 1px solid var(--dark-slate);
    height: 6%;
    /* left: 24px;
    top: 0; */
    width: 1px;
    z-index: -1;
    margin-top: 5rem;
}

.border1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.app_edu_details>.row:last-child .borderr {
    display: none;
}


/* New Card CSS */

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.containers {
    display: flex;
}

.card {
    margin: 10px;
    padding: 10px;
    background: var(--card-background);
    /* width: calc(var(--card-height) / 1.5); */
    width: 350px;
    height: 22rem;
    padding: 30px;
    position: relative;
    border-radius: 6px;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    display: flex;
    font-size: 1.5em;
    /* color: rgb(88 199 250 / 0%); */
    color: var(--card-color);
    cursor: pointer;
    /* font-family: cursive; */
    transition: all 0.5s;
}

.card:hover {
    color: rgb(88 199 250 / 100%);
    transition: all 1s;
    padding: 25px;
    /* transition: padding 0.5s linear; */
    width: 400px;
}

.card:hover:before,
.card:hover:after {
    animation: none;
    opacity: 0;
}


.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    top: calc(65vh / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(65vh / 6));
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

.college_name {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
    font-weight: bold;
}

.college_degree {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
}

.college_year {
    font-size: 0.8rem;
}

.college_marks {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}