@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Lora&family=Poppins:wght@300&display=swap");

:root {
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --content-font: 'Poppins', 'Luxurious Roman', 'Lora', serif, 'Luxurious Roman', cursive;

    --nav-height: 100px;

    --background-color: #fcfcfc;
    /* --background-color: #233554; */
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --green: #64ffda;
    --nav-color: var(--dark-slate);
    --heading-color: var(--navy);
    --horizontal-bar-color: var(--dark-slate);
    --content-color: var(--dark-slate);
    --skills-color: var(--dark-slate);
    --skills-back-color: initial;
    --circle-border-color: #fff;
    --card-background: #fff;
    --card-color: #000;
    --role-color: var(--dark-navy);
    --key-color: var(var(--dark-slate));

    --skills-box-shaddow-color: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    --edu-card-box-shadow-color: 0px 0px 20px rgb(0 0 0 / 10%);

    --transition: all 0.30s cubic-bezier(0.65, 0.05, 0.36, 1);

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color) !important;
    transition: var(--transition);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-slate);
    border: 3px solid var(--navy);
}

::-webkit-scrollbar-track {
    background: var(--navy);
}

canvas {
    z-index: 2;
}

.text {
    text-align: center;
    color: #ffffff6b;
    font-size: 28px;
    width: 100%;
    top: 130px;
    position: absolute;
    margin: 0 auto;
    display: block;
}