
<div class="container">
    <div class="app_experience_header">
        <h1>Where I've Worked</h1>
    </div>

    <section class="app_exp">
        <div class="row">
            <div class="col-lg-6 app_exp_work">
                <div class="row" style="width: 90%;">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-2 app_exp_work_logo">
                        <img src="../../../assets/svg/Ajio-Logo.svg" alt="" srcset="">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-9 col-10 app_exp_work_content">
                        <div style="display: inline-block; width: 100%;">
                            <p class="app_exp_company_name">AJIO.com</p>
                            <!-- <p class="app_exp_company_location">Bengaluru, India</p> -->
                        </div>
                        <br>
                        <div class="app_exp_role">
                            <p>Software Developer - I</p>
                        </div>
                        <div class="app_exp_date_loc">
                            <span style="font-family: var(--font-mono);">Jan 2023 - Present</span>
                            <span>Bengaluru, Karnataka, India</span>
                        </div>
                        <div class="app_exp_work_details">
                            <p>
                                Develop and maintain promotions component in AJIO’s B2B platform.
                            </p>
                            <p>
                                Responsible for developing and integrating new features while collaborating with the UI team.
                            </p>
                            <p>
                                Developed the platform to onboard the DISTRIBUTOR which increased the performance and user engagement by 30%.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 app_exp_skills">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 badge" *ngFor="let skillImg of skillsImgForAjio">
                        <div class="">
                            <img src={{skillImg.imgUrl}} alt="" srcset="">
                        </div>
                        <span class="skill_name">{{ skillImg.name }}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <hr>

        <div class="row">
            <div class="col-lg-6 app_exp_work">
                <div class="row" style="width: 90%;">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-2 app_exp_work_logo">
                        <img src="../../../assets/svg/wipro.svg" alt="" srcset="">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-9 col-10 app_exp_work_content">
                        <div style="display: inline-block; width: 100%;">
                            <p class="app_exp_company_name">Wipro Technologies</p>
                            <!-- <p class="app_exp_company_location">Pune, India</p> -->
                        </div>
                        <br>
                        <div class="app_exp_role">
                            <p>Software Developer</p>
                        </div>
                        <div class="app_exp_date_loc">
                            <span style="font-family: var(--font-mono);">Mar 2021 - Dec 2022</span>
                            <span>Pune, Maharashtra, India</span>
                        </div>
                        <div class="app_exp_work_details">
                            <p>
                                Developed and delivered highly interactive web application which is complete migration from old legacy Java to new 
                                tech stack.
                            </p>
                            <p>
                                Work with a variety of different languages, platforms, frameworks such as 
                                <span *ngFor="let skill of skills">
                                    <span style="font-weight: 600; letter-spacing: 0.6px;">{{ skill }}</span>, 
                                </span> 
                            </p>
                            <p>
                                Communicate with multi-disciplinary teams of engineers, designers, producers, and clients on a daily basis.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 app_exp_skills">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 badge" *ngFor="let skillImg of skillsImage">
                        <div class="">
                            <img src={{skillImg.imgUrl}} alt="" srcset="">
                        </div>
                        <span class="skill_name">{{ skillImg.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
